[Desktop Entry]
Version=1.0
Type=Link
Name=N-DOF: The Modular Robotic Arm by Keeeal - Thingiverse
Comment=
Icon=user-bookmarks
URL=https://www.thingiverse.com/thing:4546364/files
