[Desktop Entry]
Version=1.0
Type=Link
Name=Bolts and nuts for Modular Mounting System by HeyVye - Thingiverse
Comment=
Icon=user-bookmarks
URL=https://www.thingiverse.com/thing:3774977/files
